{% extends "base.html" %}

{% block content %}

<div class="container">
    <p>Welcome to LiftLog the no fuss workout tracker for people who actually show up.
       Log your sessions, track your progress, and see what everyone else is lifting.</p>

    {% if session['username'] %}
        <br>
        <p>Logged in as <strong>{{ session['username'] }}</strong></p>
        <a href="/add"><button>+ Add Session</button></a>
    {% endif %}
</div>

<br>

<table class="session_table">
    <thead>
        <th>Date</th>
        <th>User</th>
        <th>Exercise</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Weight (kg)</th>
        <th>Actions</th>
    </thead>
    <tbody>
    {% for s in sessions %}
        <tr>
            <td>{{ s['date'] }}</td>
            <td>{{ s['username'] }}</td>
            <td>{{ s['exercise'] }}</td>
            <td>{{ s['sets'] }}</td>
            <td>{{ s['reps'] }}</td>
            <td>{{ s['weight_kg'] }}</td>
            <td>
                {% if session.get('id') == s['user_id'] %}
                    <a class="edit-btn" href="/edit/{{ s['id'] }}">Edit</a>
                    <a class="del-btn"  href="/delete/{{ s['id'] }}">Delete</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
